<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" media="all">
    <title>Create a Client</title>
</head>
<body>
    <div class="container">
        <div class="col-md-12">
            <h2>Create a Client</h2>
        </div>

        <form method="POST" action="/client/create">
            <input type="text" name="name">
            <button class="btn btn-primary">Create</button>
        </form>
    </div>
    </div>
</body>
</html>
