<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" media="all">
    <title>Feature Requests</title>
</head>
<body>
    <div class="container">
        <div class="col-md-12">
            <h2>Feature Requests</h2>
        </div>

        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Client Name</th>
                        <th>Priority</th>
                        <th>Target Date</th>
                        <th>Category</th>
                </thead>
                <tbody>
                {% for feature_request in feature_requests %}
                <tr>
                    <td><a href="{{ url_for('feature_request_view', id=feature_request.id) }}">{{ feature_request.title }}</a></td>
                    <td>{{ feature_request.client.name }}</td>
                    <td>{{ feature_request.client_priority }}</td>
                    <td>{{ feature_request.target_date }}</td>
                    <td>{{ feature_request.category.name }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <a class="btn btn-primary" href="{{ url_for('feature_request_create') }}">Create a Feature Request</a>
        </div>

    </div>
    </div>
</body>
</html>
